{% extends "base.html" %}

{% block extra_stylesheets %}
  <link href="https://cdn.datatables.net/1.10.10/css/jquery.dataTables.css" rel="stylesheet">
{% endblock %}

{% block content %}
<br />
<h1>Automated Asin Crawler based on Flask + Celery + MySQL</h1>
<hr />
<div class="alert invisible" role="alert" id='message'>
</div>

<form action = "{{ url_for('all.uploader') }}" method = "POST" id="uploadForm"
    enctype = "multipart/form-data">
    <div class="row">
        <div class="col-md-2">Input File:</div>
        <div class="col-md-4">
            <input type = "file" name = "input" id='file' />
        </div>
        <div class="col-md-3">
            <input type = "button" id="upload" value="Upload" class="btn btn-primary"/>
        </div>
    </div>
</form>

<hr />
<div class="row">
    <div class="col-md-2">Progress:</div>
    <div class="col-md-9">
        <div class="progress"></div>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-6">
        <h2>Search Crawler Result</h2>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-2">
        <a href='/' class="btn btn-primary">Refresh</a>
    </div>
    <div class="col-md-1">
        From:
    </div>
    <div class="col-md-2">
        <input class="datepicker_from" data-date-format="mm/dd/yyyy">
    </div>
    <div class="col-md-1">
        To:
    </div>
    <div class="col-md-2">
        <input class="datepicker_to" data-date-format="mm/dd/yyyy">
    </div>
    <div class="col-md-1">
        <button id='excel' class="btn btn-primary">Download</button>
    </div>
</div>
<hr />
<div class="row" >
    <div class="col-md-12">
        <table id="asin_list" class="display" cellspacing="0" width="100%">
            <thead>
                <th>No</th>
                <th>Site Url</th>
                <th>Asin</th>
                <th>Review Rating</th>
                <th>Quantity for Reviews</th>
                <th>Monetary Unit</th>
                <th>Selling price</th>
                <th>Link</th>
                <th>Created At</th>
                <th>Status</th>
                <th>Description</th>
            </thead>
          <tbody></tbody>
        </table>
    </div>
</div>
{% endblock %}

{% block extra_javascripts %}
<script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
        var currentDate = new Date();
        $('.datepicker_from').datepicker({
            format: 'yyyy-mm-dd',
            startDate: '-3d'
        });

        $('.datepicker_to').datepicker({
            format: 'yyyy-mm-dd',
            startDate: '-3d'
        });

        $(".datepicker_from").datepicker("setDate",currentDate);
        $(".datepicker_to").datepicker("setDate",currentDate);

        var asin_list = $('#asin_list').DataTable( {
            "processing": true,
            "serverSide": true,
            "ajax": "/get_data",
        });

        $("#excel").click( function() {
            let from_date = $('.datepicker_from').val();
            let to_date = $('.datepicker_to').val();

            if( from_date == "" || to_date == "") {
                alert('Please select the date.');
                return;
            }

            var from = new Date(from_date);
            var to = new Date(to_date);

            if( from > to ) {
                alert('The from date should be earlier than to date.')
                return;
            }

            window.open( "/to_excel/" + from_date + "/" + to_date, "_blank")

            return false;
        });
        let percent = 0;
        let updateProgress;
        var progress = function(expected_count, crawler_count) {
            let current_length = asin_list['context'][0]['_iRecordsTotal'];
            percent = (100 - ((expected_count - current_length) / crawler_count * 100)).toFixed(2);
            console.log('current_length: ' + current_length);
            console.log('expected count: ' + expected_count);
            console.log('crawler count: ' + crawler_count);
            console.log('percent:' + percent + '%');

            var html="<div class='progress-bar progress-bar-striped active' role='progressbar'  aria-valuemin='0' aria-valuemax='100' style='width:"+percent+"%'>" + percent + "%</div>";
            $(".progress").html(html);
            asin_list.draw(false);

            if(parseInt(percent) == 100) {
                clearInterval(updateProgress);
                $(".btn").prop('disabled', false);
            }
        };

        $("#upload").click(function() {
            var percent = 0;
            var html="<div class='progress-bar progress-bar-striped active' role='progressbar'  aria-valuemin='0' aria-valuemax='100' style='width:"+percent+"%'>" + percent + "%</div>";
            percent = 0;
            $(".progress").html(html);
            var form_data = new FormData();
            var file = $('input[type=file]')[0].files[0];

            if( file == undefined ) {
                $("#message").html('Please select the input');
                $("#message").removeClass('invisible');
                $("#message").addClass('alert-danger');

                console.log(file);
                return;
            }

            form_data.append('input',  file);
            $('.btn').prop('disabled', true);
            $.ajax({
                type: 'POST',
                url:  '/uploader',
                data: form_data,
                contentType: false,
                cache: false,
                processData: false,
                success: function(data) {

                    console.log(data.status);
                    if(data.status == 'success') {
                        $("#message").addClass('alert-success');
                        $("#message").removeClass('alert-danger');
                    } else {
                        $("#message").addClass('alert-danger');
                        $("#message").removeClass('alert-success');
                    }
                    $("#message").removeClass('invisible');
                    $("#message").html(data.message);

                    updateProgress = setInterval(progress, 10 * 1000, data.expected_count, data.count);
                },
            });
        });
    } );
</script>
{% endblock %}